@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

body, html {
  height: 100%;
  width: 100%;
  color: rgb(7, 1, 1);
}

.carousel-inner img{
    height:100%;
}

h3 {
    font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

p {
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.jumbortron {
padding:0;
border-radius:0
}

/*Makes the popup show without hiding any other text */
.jumbotron-fluid{
    margin-bottom: 6.69rem;
    padding:5px;
}

.title_hr {
    width:15%;
    margin-bottom: 20px;
}


  /* Create the parallax scrolling effect to the home page */
.h_parallax {

  background-image: url('../images/h_parallax.jpg');
  height: 200px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  margin-top: 30px;
} 

 /* Create the parallax scrolling effect to the price&treatment page */

.p_parallax {

  background-image: url('../images/p_parallax.jpg');
  height: 150px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  margin-top: 30px;
}

/*The price&treatment page */

.price .display-4 {
    margin-top: 9rem;
}

/* Gallery*/


#photo {
  margin-top:104px;
  }

  #photo img {
    width: 100%;
    height: auto;
  }
  

/* Media queries  */

@media (max-width: 576Px) and (min-width: 186px)  { 
#photo{
       margin-top:89px;
     }
}


/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) and (min-width: 577px) { 
#photo{
       margin-top:89px;
     }

}


@media (max-width: 992px) and (min-width: 769px)  { 
    .card-img, .card-img-top {
    height: 294px;
}



 }


