@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Raleway&display=swap');

body, html {
  height: 100%;
  width: 100vw;
}

.parallax {
  /* The image used */
  background-image: url("images/fixed_bg.jpg");

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}